# OpenAI API Key
OPENAI_API_KEY=sk-your-openai-api-key

# Anthropic API Key
ANTHROPIC_API_KEY=sk-ant-your-anthropic-api-key

# Production URL
BASE_URL=https://speech-to-text.me
CORS_ORIGIN=https://speech-to-text.me

# Frontend API URL
REACT_APP_API_URL=

# Google AdSense
REACT_APP_ADSENSE_ENABLED=false
REACT_APP_ADSENSE_CLIENT=ca-pub-5495300381182843
