node_modules/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
.vscode/
.idea/
.npm
.yarn
.pnp.*
.dockerignore
docker-compose.yml
docker-compose.override.yml
**/Dockerfile*
/backend/dist
/backend/node_modules
/backend/.cache
/backend/*.js
/backend/*.d.ts
/backend/*.js.map
/backend/.env
/backend/.env.local
/backend/.env.production
/backend/.env.test
/backend/swagger.json
/backend/swagger.yaml
/backend/coverage
/backend/Dockerfile
/frontend/build
/frontend/node_modules
/frontend/coverage
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/.eslintcache
/frontend/dist
/frontend/.cache
/frontend/*.map
/frontend/Dockerfile
/frontend/package-lock.json
node_modules/